<h1>Diana Falkowska 
<a href="mailto:diana.falkowska@gmail.com?subject=Your app is awesome!"><img src="https://lh4.ggpht.com/mhl1yPpo3zoVR172Vfajd97fTTNjDAUBQgpgSxD_OTnmRwGdLXmNtWFaqbayqVveUzo=w300"
  alt="diana.falkowska@gmail.com"
  width="50" height="50" border="0" /></a></h1>
<p>find me on 
<a href="http://www.facebook.com/diana.falkowska"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Facebook-icon.png"
  alt="My facebook page"
  width="50" height="50" border="0" /></a>
</p>
<p>find me on 
<a href="http://www.linkedin.com/profile/view?id=311104939"><img src="http://www.richmondinstitute.com/wp-content/uploads/2011/07/linkedin-icon-gif.gif"
  alt="My linked.in page"
  width="50" height="50" border="0" /></a>
</p>
<p>find me on 
<a href="http://www.github.com/dianafa"><img src="http://www.peterhajas.com/media/img/github_icon.png"
  alt="My github page"
  width="50" height="50" border="0" /></a>
</p>
