<!DOCTYPE html>
<html lang="en" ng-app="shoes4today">
<head>
  <title>Shoes4today</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', controller_name%>
 
  <script src="bower_components/angular/angular.js"></script>
  <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">shoes4today</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	<li class="active"><a href="/queries/new">Ask me!</a></li>
        <li class="active"><a href="/shoes">Shoes</a></li>
        <li class="active"><a href="/items">Clothes</a></li>
        <li class="active"><a href="/pages/about">About me</a></li>
      </ul>
    </div>
  </div>
</nav>

<div ng-view class="container">
  <%= yield %>
</div>


<footer>
  <div class="container">
    dianafa 2014
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>
